---
import Layout from '../layouts/Layout.astro'; 
---

<Layout title="Inicio | Mi E-commerce">
	<main class="container mx-auto p-4">
		<h1 class="text-4xl font-bold text-center my-10">
			hola
		</h1>
		
		<div class="p-6 border rounded-lg shadow-md">
			<p>prueba</p>
		</div>

		
	</main>
</Layout>