---
import Layout from '../layouts/Layout.astro';
import RegisterForm from '../components/auth/RegisterForm.svelte';
---

<Layout title="Registro">
    <div class="min-h-[85vh] flex items-center justify-center bg-blue-50/50 py-10">
        <RegisterForm client:load />
    </div>
</Layout>